/* ==|== primary styles =====================================================

   ========================================================================== */
/* line 17, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 23, ../sass/screen.scss */
html, body, h6, .wrapper h1, ul.marquee li, .panel-col-bottom .date-display-single, .weather, .advanced p#today-temperature, .ui-tabs .ui-tabs-panel p, div.view-upcoming-course-list div.view-empty p, div.view-hpas-upcoming-course-list-test div.view-empty p, div.view-upcoming-course-list table, div.view-hpas-upcoming-course-list-test table, #signpage small, #signpage td {
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}

/* line 24, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6, button, input[type="submit"], input[type="reset"], #timediv, #datediv, #hawkalert-wrapper #hawkalert-headline, .marquee-author, .weather #basic-today-temp-current, .weather #basic-today-temp-high, .weather #basic-today-temp-low,
.weather #basic-tomorrow-temp-high, .weather #basic-tomorrow-temp-low,
.weather #basic-dayafter-tomorrow-temp-high, .weather #basic-dayafter-tomorrow-temp-low, .weather p#basic-today-weekday, .weather p#basic-tomorrow-weekday, .weather p#basic-dayafter-tomorrow-weekday, .advanced #today-temp-high, .advanced #today-temp-low,
.advanced #tomorrow-temp-high, .advanced #tomorrow-temp-low,
.advanced #dayafter-tomorrow-temp-high, .advanced #dayafter-tomorrow-temp-low, .advanced p#today-temp-current, .advanced p#tomorrow-temperature, .advanced p#dayafter-tomorrow-temperature, .advanced p#today-weekday, .advanced p#tomorrow-weekday, .advanced p#dayafter-tomorrow-weekday, .ui-tabs .ui-tabs-nav li a, .ui-tabs .ui-tabs-panel h3, div.view-upcoming-course-list th, div.view-hpas-upcoming-course-list-test th, div.view-upcoming-course-list td.views-field-title, div.view-hpas-upcoming-course-list-test td.views-field-title, div.view-upcoming-course-list td.views-field-field-location, div.view-hpas-upcoming-course-list-test td.views-field-field-location, #signpage th {
  font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
}

/* line 26, ../sass/screen.scss */
html, h1, h2, h3, h4, h5, h6, ul.marquee li, .weather, .weather p#basic-today-conditions, .weather p#basic-tomorrow-conditions, .weather p#basic-dayafter-tomorrow-conditions, .ui-tabs .ui-tabs-panel p, div.view-upcoming-course-list div.view-empty p, div.view-hpas-upcoming-course-list-test div.view-empty p, div.view-upcoming-course-list table, div.view-hpas-upcoming-course-list-test table, div.view-upcoming-course-list th, div.view-hpas-upcoming-course-list-test th, #signpage th, #signpage tr, .content-edit, .content-edit > ul > li.views-row a,
.view-content > .views-row a {
  color: #eeeeee;
}

/* line 27, ../sass/screen.scss */
.wrapper h1, #timediv, #datediv, .advanced p#today-temperature, #signpage .iowa-city, #signpage .coralville {
  color: #ffffff;
}

/* line 28, ../sass/screen.scss */
#signpage .cambus {
  color: #000000;
}

/* line 29, ../sass/screen.scss */
.panel-col-bottom .date-display-single, .weather #basic-today-temp-current, .weather #basic-today-temp-high, .weather #basic-today-temp-low,
.weather #basic-tomorrow-temp-high, .weather #basic-tomorrow-temp-low,
.weather #basic-dayafter-tomorrow-temp-high, .weather #basic-dayafter-tomorrow-temp-low, .advanced #today-temp-high, .advanced #today-temp-low,
.advanced #tomorrow-temp-high, .advanced #tomorrow-temp-low,
.advanced #dayafter-tomorrow-temp-high, .advanced #dayafter-tomorrow-temp-low, .ui-tabs .ui-tabs-nav li a, div.view-upcoming-course-list td.views-field-field-repeating-event-date, div.view-hpas-upcoming-course-list-test td.views-field-field-repeating-event-date, div.view-upcoming-course-list td.views-field-field-course-subject, div.view-hpas-upcoming-course-list-test td.views-field-field-course-subject, #signpage small {
  color: #888888;
}

/* line 30, ../sass/screen.scss */
#hawkalert-wrapper #hawkalert-headline, #hawkalert-wrapper #hawkalert-description, .marquee-author:after, .marquee-author, .weather p#basic-today-weekday, .weather p#basic-tomorrow-weekday, .weather p#basic-dayafter-tomorrow-weekday, .advanced p#today-weekday, .advanced p#tomorrow-weekday, .advanced p#dayafter-tomorrow-weekday, .ui-tabs .ui-tabs-panel h3, div.view-upcoming-course-list td.views-field-title, div.view-hpas-upcoming-course-list-test td.views-field-title {
  color: #ffc000;
}

/* line 31, ../sass/screen.scss */
.content-edit > ul > li.views-row .delete-link a,
.view-content > .views-row .delete-link a {
  color: #993333;
}

/* line 34, ../sass/screen.scss */
.container-12 {
  margin: 0px auto;
  max-width: 100%;
  padding: 0px;
}

/* line 40, ../sass/screen.scss */
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16 {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

/* line 48, ../sass/screen.scss */
.container-12 .grid-1 {
  width: 6.333%;
}
/* line 49, ../sass/screen.scss */
.container-12 .grid-2 {
  width: 14.666%;
}
/* line 50, ../sass/screen.scss */
.container-12 .grid-3 {
  width: 23%;
}
/* line 51, ../sass/screen.scss */
.container-12 .grid-4 {
  width: 31.333%;
}
/* line 52, ../sass/screen.scss */
.container-12 .grid-5 {
  width: 39.666%;
}
/* line 53, ../sass/screen.scss */
.container-12 .grid-6 {
  width: 48%;
}
/* line 54, ../sass/screen.scss */
.container-12 .grid-7 {
  width: 56.333%;
}
/* line 55, ../sass/screen.scss */
.container-12 .grid-8 {
  width: 64.666%;
}
/* line 56, ../sass/screen.scss */
.container-12 .grid-9 {
  width: 73%;
}
/* line 57, ../sass/screen.scss */
.container-12 .grid-10 {
  width: 81.333%;
}
/* line 58, ../sass/screen.scss */
.container-12 .grid-11 {
  width: 89.666%;
}
/* line 59, ../sass/screen.scss */
.container-12 .grid-12 {
  width: 98%;
}
/* line 61, ../sass/screen.scss */
.container-12 .no-left-sidebar .grid-4 {
  width: 90%;
}
/* line 64, ../sass/screen.scss */
.container-12 .no-right-sidebar .grid-8 {
  width: 90%;
}

/* line 69, ../sass/screen.scss */
html body * span.clear, html body * div.clear, html body * li.clear, html body * dd.clear {
  background: none repeat scroll 0% 0% transparent;
  border: 0px none;
  clear: both;
  display: block;
  float: none;
  font-size: 0px;
  height: 0px;
  list-style: none outside none;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  visibility: hidden;
  width: 0px;
}

/* line 85, ../sass/screen.scss */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0px;
  visibility: hidden;
}

/* line 93, ../sass/screen.scss */
.clearfix {
  display: inline-block;
}

/* line 97, ../sass/screen.scss */
* html .clearfix {
  height: 1%;
}

/* line 101, ../sass/screen.scss */
.container-12 {
  max-width: 100% !important;
}

/* line 103, ../sass/screen.scss */
.clearfix {
  display: block;
}

/********************** General **********************/
/* line 108, ../sass/screen.scss */
.right {
  float: right;
}

/* line 109, ../sass/screen.scss */
.clear {
  clear: right;
}

/* line 111, ../sass/screen.scss */
html {
  background: #020202;
}

/* line 117, ../sass/screen.scss */
body {
  background: #292929;
  /* Old browsers */
  background: -moz-linear-gradient(top, #292929 0%, #020202 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #020202));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #292929 0%, #020202 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #292929 0%, #020202 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #292929 0%, #020202 100%);
  /* IE10+ */
  background: linear-gradient(top, #292929 0%, #020202 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#020202',GradientType=0 );
  /* IE6-9 */
}

/* line 129, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  filter: dropshadow(color=black, offx=0, offy=1);
}

/* line 136, ../sass/screen.scss */
h3, h4, h5, h6 {
  margin: 0 0 10px;
}

/* line 140, ../sass/screen.scss */
h1 {
  font-size: 1.75em;
  line-height: 1.71429em;
}

/* line 141, ../sass/screen.scss */
h2 {
  font-size: 1.375em;
  line-height: 2.18182em;
}

/* line 142, ../sass/screen.scss */
h3 {
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 143, ../sass/screen.scss */
h4 {
  font-size: 1.125em;
  line-height: 1.33333em;
}

/* line 144, ../sass/screen.scss */
h5 {
  font-size: 1em;
  line-height: 1.5em;
}

/* line 145, ../sass/screen.scss */
h6 {
  font-size: 0.875em;
  line-height: 1.71429em;
  margin-bottom: 0;
}

/* line 147, ../sass/screen.scss */
a {
  color: #ffc000;
}

/* line 151, ../sass/screen.scss */
button, input[type="submit"], input[type="reset"] {
  position: relative;
  display: inline-block;
  width: auto;
  height: 36px;
  font-size: 1em;
  line-height: 1.5em;
  line-height: 36px;
  text-shadow: 0 1px 1px #fff;
  border: 1px solid #999;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 0 20px 0;
  padding: 0 15px;
  -webkit-box-shadow: inset 0 1px 1px white, 0 1px 2px rgba(0, 0, 0, 0.31);
  box-shadow: inset 0 1px 1px white, 0 1px 2px rgba(0, 0, 0, 0.31);
  background: #ccc;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
  /* IE6-9 */
}

/* line 181, ../sass/screen.scss */
button:hover, button:active, input[type="submit"]:hover, input[type="submit"]:active, input[type="reset"]:hover, input[type="reset"]:active {
  -webkit-box-shadow: inset 0 1px 1px white, 0 1px 2px rgba(0, 0, 0, 0.31);
  box-shadow: inset 0 1px 1px white, 0 1px 2px rgba(0, 0, 0, 0.31);
  background: #ccc;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #dddddd 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dddddd));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #dddddd 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #dddddd 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #dddddd 100%);
  /* IE10+ */
  background: linear-gradient(top, #ffffff 0%, #dddddd 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
  /* IE6-9 */
}

/* line 197, ../sass/screen.scss */
.iframe-rwd {
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 205, ../sass/screen.scss */
.iframe-rwd iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/********************** Header **********************/
/* line 217, ../sass/screen.scss */
.wrapper {
  background: #020202;
  border-bottom: 2px solid #ffc000;
  height: auto;
  width: 100%;
  display: inline-block;
  margin-bottom: 1.2%;
  padding: 1.2% 0;
}

/* line 227, ../sass/screen.scss */
.wrapper h1 {
  clear: both;
  font-size: 2.875em;
  line-height: 1.56522em;
  line-height: 1;
  text-shadow: 0 0 1px white;
  filter: dropshadow(color=white, offx=0, offy=0);
}

/* line 237, ../sass/screen.scss */
.wrapper .panel-separator {
  margin: 0;
}

/* line 241, ../sass/screen.scss */
#uiowaimgdiv {
  display: block;
  margin-bottom: 0.5%;
  width: 100%;
  text-align: right;
}

/* line 248, ../sass/screen.scss */
.uiowaimg {
  width: 51.5%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 256, ../sass/screen.scss */
#clasimgdiv {
  display: block;
  margin-bottom: 0.5%;
  width: 100%;
}

/* line 262, ../sass/screen.scss */
.clasimg {
  width: 45%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 270, ../sass/screen.scss */
#ccomimgdiv {
  display: block;
  margin-bottom: 0.5%;
  width: 100%;
}

/* line 276, ../sass/screen.scss */
.ccomimg {
  width: 90%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 284, ../sass/screen.scss */
.ccomwordmarkimg {
  width: 52.2%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/********************** Date and Time **********************/
/* line 296, ../sass/screen.scss */
#datetimecontain {
  display: block;
  width: 100%;
  margin: 1.5% 0 0;
  text-align: right;
}

/* line 303, ../sass/screen.scss */
#timediv, #datediv {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  font-size: 1.5em;
  line-height: 2em;
  line-height: 1;
  margin: 0.5% 0 0 1%;
  background: #333;
  padding: 1.5%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

/********************** Hawk Alerts  **********************/
/* line 320, ../sass/screen.scss */
#hawkalert-wrapper {
  display: none;
  margin: 20px;
  padding: 10px;
  text-align: center;
}
/* line 325, ../sass/screen.scss */
#hawkalert-wrapper #hawkalert-icon {
  width: 225px;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 332, ../sass/screen.scss */
#hawkalert-wrapper #hawkalert-headline {
  font-size: 3.4375em;
  line-height: 1.30909em;
  margin-bottom: 20px;
  text-transform: uppercase;
}
/* line 339, ../sass/screen.scss */
#hawkalert-wrapper #hawkalert-description {
  font-size: 2.375em;
  line-height: 1.26316em;
}
/* line 343, ../sass/screen.scss */
#hawkalert-wrapper #hawkalert-info {
  font-size: 1.375em;
  line-height: 2.18182em;
}

/********************** Misc Need Placement  **********************/
/* line 352, ../sass/screen.scss */
.node-type-group h1#page-title {
  display: none;
}

/* line 354, ../sass/screen.scss */
.row {
  margin-bottom: 50px;
}

/* line 357, ../sass/screen.scss */
.page-user .region-content, #block-user-login, .node-type-feed-item,
.node-type-upcoming-course-list-item, .node-type-group-slideshow, .node-type-feed, .node-type-page {
  padding: 20px;
  border-radius: 5px;
  width: 960px;
}

/* line 363, ../sass/screen.scss */
.front #first-time {
  display: none;
}

/********************** Flexslider Overrides **********************/
/* line 369, ../sass/screen.scss */
.flexslider {
  margin: 0 0 30px;
  background: none;
  border: 1px solid #333 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}

/********************** News Marquee **********************/
/* line 383, ../sass/screen.scss */
.panel-col-bottom {
  position: fixed;
  bottom: 0;
  height: auto;
  background: #111;
  /*	@include box-shadow(0 0 20px rgba(0, 0, 0, 0.5) inset); */
}

/* line 390, ../sass/screen.scss */
.logged-in .panel-col-bottom {
  position: relative;
  top: 20px;
  padding-top: 10px;
}

/* line 396, ../sass/screen.scss */
ul.marquee {
  position: relative;
  display: block;
  overflow: hidden;
  list-style: none;
  height: 54px;
  /* 60px */
  margin: 27px 0 0 0;
  /* 30px 0 0 0 */
  padding: 0;
}
/* line 404, ../sass/screen.scss */
ul.marquee li {
  position: absolute;
  top: -999em;
  left: 0;
  display: block;
  padding: 0;
  font-size: 1.5em;
  line-height: 2em;
  line-height: 1;
  white-space: nowrap;
}

/* line 418, ../sass/screen.scss */
.marquee .author {
  display: none;
}

/* line 420, ../sass/screen.scss */
.marquee-author:after {
  content: "»";
  line-height: 1;
  padding-left: 5px;
}

/* line 427, ../sass/screen.scss */
.marquee-author {
  margin: 0 0 0 1%;
  float: left;
  width: auto;
  padding: 0 15px 0 0;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  font-size: 1.5em;
  line-height: 2em;
  line-height: 1;
  text-align: right;
  white-space: nowrap;
}

/********************** Weather **********************/
/* line 450, ../sass/screen.scss */
.weather {
  width: 100%;
  margin: 0 0 5%;
  padding: 1.5% 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  /*.basic-weather-temp-div, */
}
/* line 458, ../sass/screen.scss */
.weather #basic-today, .weather #basic-tomorrow, .weather #basic-dayafter-tomorrow {
  display: inline-block;
  width: 32%;
  border-right: 1px dashed #333;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
/* line 466, ../sass/screen.scss */
.weather #basic-dayafter-tomorrow {
  border-right: none;
}
/* line 470, ../sass/screen.scss */
.weather #basic-today-icon, .weather #basic-tomorrow-icon, .weather #basic-dayafter-tomorrow-icon,
.weather .basic-weather-date-div, .weather .basic-weather-temp-div, .weather .basic-weather-cond-div {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
}
/* line 476, ../sass/screen.scss */
.weather #basic-today-icon, .weather #basic-tomorrow-icon, .weather #basic-dayafter-tomorrow-icon {
  height: 80px;
}
/* line 479, ../sass/screen.scss */
.weather .basic-weather-cond-div {
  opacity: 0.8;
}
/* line 482, ../sass/screen.scss */
.weather img {
  height: 100%;
  vertical-align: middle;
  -webkit-filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.5));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4,Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#444')";
}
/* line 491, ../sass/screen.scss */
.weather #basic-today-temp-current, .weather #basic-today-temp-high, .weather #basic-today-temp-low,
.weather #basic-tomorrow-temp-high, .weather #basic-tomorrow-temp-low,
.weather #basic-dayafter-tomorrow-temp-high, .weather #basic-dayafter-tomorrow-temp-low {
  display: inline;
  width: 50%;
  padding: 0 2%;
  font-size: 1.375em;
  line-height: 2.18182em;
  line-height: 1.5;
  text-align: left;
}
/* line 501, ../sass/screen.scss */
.weather #basic-today-temp-current {
  color: #fff;
  text-align: center;
}
/* line 505, ../sass/screen.scss */
.weather #basic-today-temp-high, .weather #basic-tomorrow-temp-high, .weather #basic-dayafter-tomorrow-temp-high {
  /*		border-right: 1px solid #333; */
  color: #fff;
  text-align: right;
}
/* line 510, ../sass/screen.scss */
.weather p {
  font-size: 1.125em;
  line-height: 1.33333em;
  line-height: 1.2;
  text-align: left;
}
/* line 514, ../sass/screen.scss */
.weather p#basic-today-weekday, .weather p#basic-tomorrow-weekday, .weather p#basic-dayafter-tomorrow-weekday {
  margin-bottom: 10px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}
/* line 522, ../sass/screen.scss */
.weather p#basic-today-conditions, .weather p#basic-tomorrow-conditions, .weather p#basic-dayafter-tomorrow-conditions {
  font-size: 0.9375em;
  line-height: 1.6em;
  line-height: 1.2;
  text-align: center;
}
/* line 529, ../sass/screen.scss */
.weather #wunderground-logo {
  width: 100%;
  text-align: center;
}
/* line 532, ../sass/screen.scss */
.weather #wunderground-logo img {
  min-width: 126px;
  max-width: 160px;
  margin: 15px 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/****************** Weather Advanced ***************/
/* line 547, ../sass/screen.scss */
.advanced {
  /*#today-icon, */
}
/* line 548, ../sass/screen.scss */
.advanced #today, .advanced #tomorrow, .advanced #dayafter-tomorrow {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 1.5%;
}
/* line 557, ../sass/screen.scss */
.advanced #tomorrow-icon, .advanced #dayafter-tomorrow-icon,
.advanced .weather-date-div, .advanced .weather-icon-div, .advanced .weather-temp-div, .advanced .weather-cond-div {
  display: inline-block;
  float: left;
  width: 16%;
  line-height: 60px;
}
/* line 563, ../sass/screen.scss */
.advanced .weather-temp-div {
  width: 36%;
  text-align: center;
}
/* line 567, ../sass/screen.scss */
.advanced .weather-cond-div {
  width: 32%;
  opacity: 0.8;
}
/* line 571, ../sass/screen.scss */
.advanced #today .weather-date-div, .advanced #today .weather-icon-div-inner, .advanced #today .weather-temp-div, .advanced #today .weather-cond-div {
  line-height: 86px;
}
/* line 574, ../sass/screen.scss */
.advanced .weather-date-div-inner, .advanced .weather-temp-div-inner, .advanced .weather-cond-div-inner {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
/* line 579, ../sass/screen.scss */
.advanced #today-icon, .advanced #tomorrow-icon, .advanced #dayafter-tomorrow-icon {
  height: 60px;
  text-align: center;
}
/* line 583, ../sass/screen.scss */
.advanced #today-icon {
  /*		height: 86px; */
}
/* line 588, ../sass/screen.scss */
.advanced #today-temp-high, .advanced #today-temp-low,
.advanced #tomorrow-temp-high, .advanced #tomorrow-temp-low,
.advanced #dayafter-tomorrow-temp-high, .advanced #dayafter-tomorrow-temp-low {
  display: inline-block;
  padding: 0 2%;
  font-size: 1.375em;
  line-height: 2.18182em;
  text-align: left;
}
/* line 596, ../sass/screen.scss */
.advanced #today-temp-high, .advanced #tomorrow-temp-high, .advanced #dayafter-tomorrow-temp-high {
  /*		border-right: 1px solid #333; */
  color: #fff;
  text-align: right;
}
/* line 601, ../sass/screen.scss */
.advanced img {
  height: 100%;
  vertical-align: middle;
  -webkit-filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.5));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4,Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#444')";
}
/* line 608, ../sass/screen.scss */
.advanced p {
  font-size: 1em;
  line-height: 1.5em;
  line-height: 1;
}
/* line 611, ../sass/screen.scss */
.advanced p#today-temp-current {
  font-size: 2.25em;
  line-height: 1.33333em;
  line-height: 1;
  text-align: center;
}
/* line 621, ../sass/screen.scss */
.advanced p#tomorrow-temperature, .advanced p#dayafter-tomorrow-temperature {
  text-align: center;
}
/* line 625, ../sass/screen.scss */
.advanced p#today-weekday, .advanced p#tomorrow-weekday, .advanced p#dayafter-tomorrow-weekday {
  font-size: 1.125em;
  line-height: 1.33333em;
}
/* line 630, ../sass/screen.scss */
.advanced p#today-conditions {
  text-align: center;
}
/* line 635, ../sass/screen.scss */
.advanced #wunderground-logo img {
  margin: 0;
}

/********************** White Pages **********************/
/* line 645, ../sass/screen.scss */
.whitepages {
  display: block;
  height: 400px;
  width: 100%;
  font-size: 0.75em;
  line-height: 2em;
  line-height: 1.5;
  overflow-y: hidden;
}
/* line 652, ../sass/screen.scss */
.whitepages table {
  width: 100%;
}
/* line 655, ../sass/screen.scss */
.whitepages td {
  vertical-align: top;
}
/* line 658, ../sass/screen.scss */
.whitepages td.whitepages_name {
  white-space: nowrap;
}
/* line 661, ../sass/screen.scss */
.whitepages td.whitepages_title {
  padding: 0 2%;
}
/* line 664, ../sass/screen.scss */
.whitepages td.whitepages_office {
  margin-left: 2%;
  text-align: right;
  white-space: nowrap;
}
/* line 669, ../sass/screen.scss */
.whitepages td.whitepages_officephone {
  margin-left: 2%;
  text-align: right;
  white-space: nowrap;
}

/********************** Event Tabs **********************/
/* line 680, ../sass/screen.scss */
.ui-tabs-nav {
  margin: 0 0 3%;
  padding: 0;
}

/* line 685, ../sass/screen.scss */
.ui-tabs .ui-tabs-nav li {
  float: left;
  width: 49%;
  list-style-type: none;
  text-align: center;
  margin: 0 0 3%;
}

/* line 693, ../sass/screen.scss */
.ui-tabs .ui-tabs-nav li a {
  position: relative;
  display: inline-block;
  float: none;
  width: 100%;
  padding: 4% 0;
  border: 1px solid black;
  border: 1px solid rgba(0, 0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 720px) {
  /* line 693, ../sass/screen.scss */
  .ui-tabs .ui-tabs-nav li a {
    display: none;
  }
}

/* line 708, ../sass/screen.scss */
.ui-tabs-nav li {
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 713, ../sass/screen.scss */
.ui-tabs-nav li.ui-tabs-selected {
  background: #000;
  border: 1px solid #666;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 719, ../sass/screen.scss */
.ui-tabs-nav .ui-state-active a {
  color: #fff !important;
}
/* line 721, ../sass/screen.scss */
.ui-tabs-nav .ui-state-active a:after, .ui-tabs-nav .ui-state-active a:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  pointer-events: none;
}
/* line 731, ../sass/screen.scss */
.ui-tabs-nav .ui-state-active a:after {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
/* line 738, ../sass/screen.scss */
.ui-tabs-nav .ui-state-active a:before {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}

/* line 747, ../sass/screen.scss */
.ui-tabs .ui-tabs-hide {
  display: none;
}

/********************** Event Entries **********************/
/* line 754, ../sass/screen.scss */
.ui-tabs .ui-tabs-panel {
  height: auto;
  margin-top: 10px;
  padding: 0;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  clear: both;
}
/* line 760, ../sass/screen.scss */
.ui-tabs .ui-tabs-panel li {
  margin: 0;
  padding: 15px 0 10px;
}
/* line 764, ../sass/screen.scss */
.ui-tabs .ui-tabs-panel img {
  float: left;
  margin: 0 10px 10px 0;
}
/* line 768, ../sass/screen.scss */
.ui-tabs .ui-tabs-panel h3 {
  margin: 0 0 5px;
  font-size: 1.375em;
  line-height: 2.18182em;
  line-height: 1;
}
/* line 775, ../sass/screen.scss */
.ui-tabs .ui-tabs-panel p {
  font-size: 1.125em;
  line-height: 1.33333em;
  opacity: 0.8;
}

/********************** Upcoming Course List **********************/
/* line 787, ../sass/screen.scss */
div.view-upcoming-course-list div.view-empty p, div.view-hpas-upcoming-course-list-test div.view-empty p {
  font-size: 1.125em;
  line-height: 1.33333em;
}
/* line 792, ../sass/screen.scss */
div.view-upcoming-course-list table, div.view-hpas-upcoming-course-list-test table {
  width: 100%;
  background: transparent;
  font-size: 1.125em;
  line-height: 1.33333em;
  line-height: 1.2;
}
/* line 804, ../sass/screen.scss */
div.view-upcoming-course-list tr, div.view-hpas-upcoming-course-list-test tr {
  background: transparent;
  border-bottom: 1px dashed #333;
}
/* line 808, ../sass/screen.scss */
div.view-upcoming-course-list tr:last-child, div.view-hpas-upcoming-course-list-test tr:last-child {
  border-bottom: none;
}
/* line 811, ../sass/screen.scss */
div.view-upcoming-course-list td, div.view-hpas-upcoming-course-list-test td {
  padding: 8px 0;
}
/* line 813, ../sass/screen.scss */
div.view-upcoming-course-list td.views-field-title, div.view-hpas-upcoming-course-list-test td.views-field-title {
  width: 50%;
}
/* line 818, ../sass/screen.scss */
div.view-upcoming-course-list td.views-field-field-repeating-event-date, div.view-hpas-upcoming-course-list-test td.views-field-field-repeating-event-date {
  width: auto;
  padding: 0 3%;
  white-space: nowrap;
}
/* line 824, ../sass/screen.scss */
div.view-upcoming-course-list td.views-field-field-course-subject, div.view-hpas-upcoming-course-list-test td.views-field-field-course-subject {
  width: auto;
  padding: 0 3%;
  white-space: nowrap;
}
/* line 830, ../sass/screen.scss */
div.view-upcoming-course-list td.views-field-field-location, div.view-hpas-upcoming-course-list-test td.views-field-field-location {
  width: auto;
  padding-left: 5%;
  white-space: nowrap;
}

/********************** BONGO **********************/
/* line 843, ../sass/screen.scss */
.logo {
  margin: 0;
  /* 6% 2% 6% 3% */
}

/* line 847, ../sass/screen.scss */
div.container {
  background-color: transparent;
  margin: 0;
}

/* line 852, ../sass/screen.scss */
#signpage {
  max-height: auto;
  overflow: hidden;
}
/* line 855, ../sass/screen.scss */
#signpage h2 {
  font-size: 1.875em;
  line-height: 1.6em;
  line-height: 1;
}
/* line 859, ../sass/screen.scss */
#signpage small {
  font-size: 0.875em;
  line-height: 1.71429em;
  display: block;
}
/* line 865, ../sass/screen.scss */
#signpage th {
  font-size: 1.125em;
  line-height: 1.33333em;
  line-height: 2;
  padding-left: 10px;
}
/* line 875, ../sass/screen.scss */
#signpage tr:nth-child(n+9) {
  display: none;
}
/* line 878, ../sass/screen.scss */
#signpage tr:nth-child(2) {
  border-top: 1px solid #000;
}
/* line 881, ../sass/screen.scss */
#signpage td {
  padding: 10px;
  font-size: 1.125em;
  line-height: 1.33333em;
  border-bottom: 1px solid #000;
}
/* line 887, ../sass/screen.scss */
#signpage table {
  width: 100%;
  font-size: 1.125em;
  line-height: 1.33333em;
}
/* line 891, ../sass/screen.scss */
#signpage .cambus {
  background-color: #FFC000 !important;
}
/* line 895, ../sass/screen.scss */
#signpage .iowa-city {
  background-color: #721515 !important;
}
/* line 899, ../sass/screen.scss */
#signpage .coralville {
  background-color: #155696 !important;
}

/* line 906, ../sass/screen.scss */
.grid-4 #signpage h2 {
  font-size: 1.5em;
  line-height: 2em;
  line-height: 1;
}
/* line 910, ../sass/screen.scss */
.grid-4 #signpage small {
  font-size: 0.75em;
  line-height: 2em;
}
/* line 913, ../sass/screen.scss */
.grid-4 #signpage th {
  font-size: 1em;
  line-height: 1.5em;
}
/* line 916, ../sass/screen.scss */
.grid-4 #signpage td {
  font-size: 1em;
  line-height: 1.5em;
  line-height: 1.2;
}
/* line 920, ../sass/screen.scss */
.grid-4 #signpage tr:nth-child(n+6) {
  display: none;
}

/********************** Content Editing **********************/
/* line 929, ../sass/screen.scss */
.tabs ul.primary li:nth-child(1),
.tabs ul.primary li:nth-child(2) {
  display: none;
}

/* line 933, ../sass/screen.scss */
.content-edit {
  margin: 10px 0 0 0;
  /* 25px left */
}

/* line 938, ../sass/screen.scss */
.content-edit ul {
  margin-bottom: 20px;
}

/* line 943, ../sass/screen.scss */
.content-edit li,
.view-content > .views-row {
  font-size: 1em;
  line-height: 1.5em;
  line-height: 1.8;
}

/* line 949, ../sass/screen.scss */
.content-edit > ul > li.views-row a,
.view-content > .views-row a {
  padding: 2px 10px;
  border-radius: 4px;
  background-color: #333;
  text-decoration: none;
}

/********************** Drupal **********************/
/* line 966, ../sass/screen.scss */
.cke_panel_frame {
  background: #fff !important;
}

/* line 969, ../sass/screen.scss */
nav h2 {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* line 973, ../sass/screen.scss */
.element-invisible {
  display: none;
}

/* line 976, ../sass/screen.scss */
.element-invisible.element-focusable:active, .element-invisible.element-focusable:focus {
  clip: auto;
  position: static !important;
}

/* line 980, ../sass/screen.scss */
.tabs ul.primary {
  border-bottom: 1px solid #bbb;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none;
  margin: 5px;
  padding: 0 0 0 1em;
  white-space: nowrap;
}

/* line 990, ../sass/screen.scss */
.tabs ul.primary li {
  display: inline;
}

/* line 993, ../sass/screen.scss */
.tabs ul.primary li a {
  background-color: #ddd;
  border-color: #bbb;
  border-style: solid solid none solid;
  border-width: 1px;
  height: auto;
  margin-right: 0.5em;
  padding: 0 1em;
  text-decoration: none;
  color: #000;
}

/* line 1004, ../sass/screen.scss */
.tabs ul.primary li.active a {
  background-color: #fff;
  border: 1px solid #bbb;
  border-bottom: 1px solid #fff;
}

/* line 1009, ../sass/screen.scss */
.tabs ul.primary li a:hover {
  background-color: #eee;
  border-color: #ccc;
  border-bottom-color: #eee;
}

/* line 1014, ../sass/screen.scss */
.field .field-label {
  font-size: 1.25em;
  line-height: 1.2em;
  padding: 0 0 10px 0;
}

/* line 1020, ../sass/screen.scss */
.field .field-items {
  line-height: 1.4;
  margin: 0 0 15px 0;
  font-size: 1em;
  color: #333;
}

/********************** Coral Ridge Mall **********************/
/* line 1031, ../sass/screen.scss */
.page-node-367 .clas a {
  background: none;
}
/* line 1033, ../sass/screen.scss */
.page-node-367 .uiowa a {
  background: none;
}
/* line 1035, ../sass/screen.scss */
.page-node-367 .wrapper {
  border-bottom: none;
}
/* line 1037, ../sass/screen.scss */
.page-node-367 #signpage h2 {
  font-size: 30px;
}
/* line 1040, ../sass/screen.scss */
.page-node-367 #signpage small {
  font-size: 20px;
}
/* line 1043, ../sass/screen.scss */
.page-node-367 #signpage table {
  width: 100%;
  margin-top: 0;
}
/* line 1047, ../sass/screen.scss */
.page-node-367 #signpage td {
  font-size: 2.1em;
}
/* line 1050, ../sass/screen.scss */
.page-node-367 .weather #basic-today {
  border-right: none;
  width: 100%;
}
/* line 1054, ../sass/screen.scss */
.page-node-367 .weather p#basic-today-weekday {
  font-size: 36px;
  line-height: 48px;
}
/* line 1058, ../sass/screen.scss */
.page-node-367 .weather #basic-today-temp-current {
  font-size: 48px;
  line-height: 56px;
}
/* line 1062, ../sass/screen.scss */
.page-node-367 .weather p#basic-today-conditions {
  font-size: 28px;
  line-height: 46px;
}
/* line 1066, ../sass/screen.scss */
.page-node-367 .weather #basic-today-icon {
  height: 160px;
  width: 50%;
}
/* line 1070, ../sass/screen.scss */
.page-node-367 .weather .basic-weather-temp-div, .page-node-367 .weather .basic-weather-cond-div {
  width: 40%;
}

/********************** Responsive Styling **********************/
@media screen and (min-width: 800px) and (max-width: 1023px) {
  /* line 1079, ../sass/screen.scss */
  body {
    font-size: 50%;
  }

  /* line 1083, ../sass/screen.scss */
  .weather #basic-today-icon, .weather #basic-tomorrow-icon, .weather #basic-dayafter-tomorrow-icon {
    height: 40px;
  }

  /* line 1086, ../sass/screen.scss */
  .advanced #today, .advanced #tomorrow, .advanced #dayafter-tomorrow {
    padding: 0;
  }
  /* line 1087, ../sass/screen.scss */
  .advanced #today-icon, .advanced #tomorrow-icon, .advanced #dayafter-tomorrow-icon {
    height: 40px;
  }
  /* line 1088, ../sass/screen.scss */
  .advanced #today .weather-date-div, .advanced #today .weather-icon-div-inner, .advanced #today .weather-temp-div, .advanced #today .weather-cond-div {
    line-height: 40px;
  }

  /* line 1090, ../sass/screen.scss */
  .whitepages {
    height: 300px;
  }

  /* line 1093, ../sass/screen.scss */
  ul.marquee {
    height: 28px;
    margin: 14px 0 0 0;
  }

  /* line 1098, ../sass/screen.scss */
  #hawkalert-wrapper #hawkalert-icon img {
    width: 94px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  /* line 1102, ../sass/screen.scss */
  body {
    font-size: 75%;
  }

  /* line 1106, ../sass/screen.scss */
  .weather #basic-today-icon, .weather #basic-tomorrow-icon, .weather #basic-dayafter-tomorrow-icon {
    height: 50px;
  }

  /* line 1109, ../sass/screen.scss */
  .advanced #today, .advanced #tomorrow, .advanced #dayafter-tomorrow {
    padding: 0;
  }
  /* line 1110, ../sass/screen.scss */
  .advanced #today-icon, .advanced #tomorrow-icon, .advanced #dayafter-tomorrow-icon {
    height: 45px;
  }
  /* line 1111, ../sass/screen.scss */
  .advanced #today .weather-date-div, .advanced #today .weather-icon-div-inner, .advanced #today .weather-temp-div, .advanced #today .weather-cond-div {
    line-height: 45px;
  }

  /* line 1113, ../sass/screen.scss */
  .whitepages {
    height: 300px;
  }

  /* line 1116, ../sass/screen.scss */
  ul.marquee {
    height: 32px;
    margin: 16px 0 0 0;
  }

  /* line 1121, ../sass/screen.scss */
  #hawkalert-wrapper #hawkalert-icon img {
    width: 140px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  /* line 1125, ../sass/screen.scss */
  body {
    font-size: 90%;
  }

  /* line 1129, ../sass/screen.scss */
  .weather #basic-today-icon, .weather #basic-tomorrow-icon, .weather #basic-dayafter-tomorrow-icon {
    height: 50px;
  }

  /* line 1132, ../sass/screen.scss */
  .advanced #today, .advanced #tomorrow, .advanced #dayafter-tomorrow {
    padding: 0;
  }
  /* line 1133, ../sass/screen.scss */
  .advanced #today-icon, .advanced #tomorrow-icon, .advanced #dayafter-tomorrow-icon {
    height: 50px;
  }
  /* line 1134, ../sass/screen.scss */
  .advanced #today .weather-date-div, .advanced #today .weather-icon-div-inner, .advanced #today .weather-temp-div, .advanced #today .weather-cond-div {
    line-height: 50px;
  }

  /* line 1136, ../sass/screen.scss */
  .whitepages {
    height: 300px;
  }

  /* line 1140, ../sass/screen.scss */
  #signpage tr:nth-child(n+7) {
    display: none;
  }

  /* line 1143, ../sass/screen.scss */
  .grid-4 #signpage tr:nth-child(n+5) {
    display: none;
  }

  /* line 1145, ../sass/screen.scss */
  ul.marquee {
    height: 36px;
    /* 45px */
    margin: 18px 0 0 0;
    /* 20px */
  }

  /* line 1150, ../sass/screen.scss */
  #hawkalert-wrapper #hawkalert-icon img {
    width: 170px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1599px) {
  /* line 1154, ../sass/screen.scss */
  body {
    font-size: 100%;
  }

  /* line 1158, ../sass/screen.scss */
  .weather #basic-today-icon, .weather #basic-tomorrow-icon, .weather #basic-dayafter-tomorrow-icon {
    height: 70px;
  }

  /* line 1161, ../sass/screen.scss */
  .advanced #today, .advanced #tomorrow, .advanced #dayafter-tomorrow {
    padding: 5px;
  }
  /* line 1162, ../sass/screen.scss */
  .advanced #today-icon, .advanced #tomorrow-icon, .advanced #dayafter-tomorrow-icon {
    height: 60px;
  }
  /* line 1163, ../sass/screen.scss */
  .advanced #today .weather-date-div, .advanced #today .weather-icon-div-inner, .advanced #today .weather-temp-div, .advanced #today .weather-cond-div {
    line-height: 60px;
  }

  /* line 1166, ../sass/screen.scss */
  .grid-4 #signpage tr:nth-child(n+5) {
    display: none;
  }

  /* line 1168, ../sass/screen.scss */
  ul.marquee {
    height: 42px;
    margin: 21px 0 0 0;
  }

  /* line 1173, ../sass/screen.scss */
  #hawkalert-wrapper #hawkalert-icon img {
    width: 188px;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1919px) {
  /* line 1177, ../sass/screen.scss */
  body {
    font-size: 110%;
  }

  /* line 1180, ../sass/screen.scss */
  ul.marquee {
    height: 108px;
    margin: 54px 0 0 0;
  }

  /* line 1185, ../sass/screen.scss */
  .weather #basic-today-icon, .weather #basic-tomorrow-icon, .weather #basic-dayafter-tomorrow-icon {
    height: 70px;
  }

  /* line 1188, ../sass/screen.scss */
  .advanced #today, .advanced #tomorrow, .advanced #dayafter-tomorrow {
    padding: 5px;
  }
  /* line 1189, ../sass/screen.scss */
  .advanced #today-icon, .advanced #tomorrow-icon, .advanced #dayafter-tomorrow-icon {
    height: 60px;
  }
  /* line 1190, ../sass/screen.scss */
  .advanced #today .weather-date-div, .advanced #today .weather-icon-div-inner, .advanced #today .weather-temp-div, .advanced #today .weather-cond-div {
    line-height: 60px;
  }

  /* line 1192, ../sass/screen.scss */
  ul.marquee {
    height: 48px;
    margin: 24px 0 0 0;
  }

  /* line 1197, ../sass/screen.scss */
  #hawkalert-wrapper #hawkalert-icon img {
    width: 205px;
  }
}
@media screen and (min-width: 1920px) and (max-width: 3839px) {
  /* line 1201, ../sass/screen.scss */
  body {
    font-size: 120%;
  }

  /* line 1205, ../sass/screen.scss */
  #hawkalert-wrapper #hawkalert-icon img {
    width: 225px;
  }
}
@media screen and (min-width: 3840px) {
  /* line 1209, ../sass/screen.scss */
  body {
    font-size: 240%;
  }

  /* line 1212, ../sass/screen.scss */
  ul.marquee {
    height: 108px;
    margin: 54px 0 0 0;
  }

  /* line 1217, ../sass/screen.scss */
  #hawkalert-wrapper #hawkalert-icon img {
    width: 450px;
  }
}
