
/* Sets the Top Left and Top Right panels in Panelizer */
.panel-2col-stacked .panel-col-top-left,
.panel-2col-stacked .panel-col-top-right {
	float: left;
	width: 50%;
	margin: 0 0 20px;
}

.panel-2col-stacked .panel-col-first { clear:left; }

/* Sets the Left side and Right side panels in Panelizer */
.panel-2col-stacked .panel-col-first, 
.panel-2col-stacked .panel-col-last { 
	float: left;
	width: 50%;
	margin: 0 0 20px;
}


/* Sets the colors for Panelizer */
.panel-portlet .grabber { background-image: none; background-color: #e6ffe6; padding: 5px 0; }
.panel-portlet .grabber:active, .panel-portlet .grabber:hover {
	background: none;
	background-color: #cfc;
	color: #333;
	font-weight: normal;
	text-shadow: none;
}
.panel-portlet .not-grabber { background: #f5dede; padding: 5px 0; }
.panel-portlet .not-grabber .grab-title:active, .panel-portlet .not-grabber .grab-title:hover {
	background: #fcc;
	font-weight: normal;
	text-shadow: none;
}
.panel-portlet.hidden-pane .grab-title { background-color: #d2e2d2; }
.panel-portlet.hidden-pane .grab-title:active, .panel-portlet.hidden-pane .grab-title:hover {
	background-color: #cfc;
	font-weight: normal;
	text-shadow: none;
}
.panel-portlet .grab-title {
	color: #333;
	font-weight: normal;
	text-shadow: none;
}
.panel-portlet .grab-title .text {
	font-size: 100%;
}
.panel-pane .pane-title {
	color: #f3f3f3;
}
